@model WebSite.Models.Product.ListModel
@{
    ViewBag.Title = "Retailer";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    string controller = Request.RequestContext.RouteData.Values["controller"] == null ? "" : Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    string action = Request.RequestContext.RouteData.Values["action"] == null ? "" : Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
    string id = Request.RequestContext.RouteData.Values["id"] == null ? "" : Request.RequestContext.RouteData.Values["id"].ToString().ToLower();
}
@section styles{
    <style type="text/css">
        .gbr-main {
            min-height: auto;
        }

        #middle_box_xiuTipBox .filter-entries-label {
            width: 55px;
        }

        #middle_box_xiuTipBox .filter-entries-values {
            margin-left: 60px;
        }

        .product-filters-box input {
            display: none;
        }
    </style>
}
@section scriptsbyend{
    <script src="~/Scripts/W/owl.carousel.js"></script>
    <script src="~/Scripts/W/jquery.mouseoverbox.js"></script>
    <script type="text/javascript">

        function getNowFormatDate() {

            var date = new Date();

            var seperator1 = "-";

            var seperator2 = ":";

            var month = date.getMonth() + 1;

            var strDate = date.getDate();

            if (month >= 1 && month <= 9) {

                month = "0" + month;

            }

            if (strDate >= 0 && strDate <= 9) {

                strDate = "0" + strDate;

            }

            var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate

                    + " " + date.getHours() + seperator2 + date.getMinutes()

                    + seperator2 + date.getSeconds();

            return currentdate;

        }




        var product = { id: '1', material: '100% Cotton', color: ['red', 'blue'], style: 'striped ', price: '1000', size: ['S', 'M', 'L'], smallImg: '' };
        var cartProducts = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CartProducts))
        i = 0;



        $(document).ready(function () {

            $(".btn-addtocart").live("click", function () {

                var productid = $(this).attr("productid");
                var pJStr = $("#" + productid).find('pre').html();
                var pJObj = JSON.parse(pJStr);

                //判断购物车是否已经存在该商品
                var isflag = false;
                $.each(cartProducts, function (p_index, p_row) {
                    if (p_row.Id == pJObj.Id) {
                        isflag = true;
                    }
                });


                if (!isflag) {
                    pJObj.CreateTime = getNowFormatDate();
                    cartProducts.push(pJObj);

                    $.ajax({
                        type: "post",
                        url: "/Product/SetMyCartCookies",
                        dataType: "json",
                        data: { cartProducts: JSON.stringify(cartProducts) }
                    }).done(function (data) {

                        var cartproduct_id = "cartproduct_" + pJObj.Id;
                        var ihtml = '<a class="item" id="' + cartproduct_id + '" >';
                        ihtml += '<span>';
                        ihtml += '<pre style="display:none">' + JSON.stringify(pJObj) + '</pre>';
                        ihtml += '<img src="' + pJObj.SmallImg + '" alt="">';
                        ihtml += '</span>';
                        ihtml += '</a>';
                        var owl = $("#owl_cart").data('owlCarousel');
                        owl.addItem(ihtml, 0);//添加到第1个位置
                    });
                }

            });




            $("#owl_cart .item  span ").live("mouseover", function () {

                var limitBoxId = "middle_box";
                var tipBoxId = "savedmiddle_box_xiuTipBox"
                var width = '175px';
                var height = '200px';


                $("#" + tipBoxId).remove();
                var ihtml = '<div class="poptip" id="' + tipBoxId + '" style="left: 0px; top: 0px;width: ' + width + ';height: ' + height + ';position: absolute; padding:10px; display:none"><span class="t_bg"></span><span class="b_bg"></span><span class="arrow" id="tipArr"></span>';
                ihtml += '<div  style="overflow: hidden;width: ' + width + ';height: ' + height + ';">';


                var content = "?";


                ihtml += content;
                ihtml += '</div>';
                ihtml += '</div>';
                $("body").append(ihtml);
                $(this).setMouseOverTipPos({
                    limitBoxId: limitBoxId,
                    tipBoxId: tipBoxId
                });

            });




            $(".btn-removetocart").live("click", function () {
                var owl_cart_item_id = $(this).attr("itemid")
                var index = -1;
                $("#owl_cart").find(".item").each(function (i) {
                    var id = $(this).attr("id");
                    if (id == owl_cart_item_id) {
                        index = i;
                        return;
                    }
                })

                var owl = $("#owl_cart").data('owlCarousel');
                if (index != -1) {
                    owl.removeItem(index);//根据索引移除
                    owl.goTo(index + 1);
                }
            });

            $("#owl_product .item  ul li span ").live("mouseover", function () {

                var limitBoxId = "middle_box";
                var tipBoxId = "savedmiddle_box_xiuTipBox"
                var width = '325px';
                var height = '230px';



                var pId = $(this).attr("id");
                var pJStr = $(this).find('pre').html();
                var pJObj = JSON.parse(pJStr);

                $("#" + tipBoxId).remove();
                var ihtml = '<div class="poptip" id="' + tipBoxId + '"  style="left: 422px; top: 162px;width: ' + width + ';height: ' + height + '; position: absolute; padding:10px; display:none"><span class="t_bg"></span><span class="b_bg"></span><span class="arrow" id="tipArr"></span>';
                ihtml += '<div  style="overflow: hidden;width: ' + width + ';height: ' + height + ';">';


                var content = "";
                content += ' <div class="filter-lists-container" style="width: 160px;border-image: none; border:1px solid #000; width: 160px; margin-right: 10px; height: 228px; float: left;">';
                content += '<dl class="filter-entries clearfix">';
                content += ' <dt class="filter-entries-label">Material:</dt>';
                content += '   <dd class="filter-entries-values">';
                content += '      <span class="filter-item ">' + pJObj.Materials + '</span>';
                content += '   </dd>';
                content += '  </dl>';
                content += '  <dl class="filter-entries clearfix">';
                content += '    <dt class="filter-entries-label">Color:</dt>';
                content += '    <dd class="filter-entries-values">';

                var colors = pJObj.Colors.split(',');
                for (var i = 0; i < colors.length; i++) {

                    content += '    <span class="filter-item">' + colors[i] + '</span>';
                }


                content += '      </dd>';
                content += '     </dl>';
                content += '   <dl class="filter-entries clearfix">';
                content += '   <dt class="filter-entries-label">Style:</dt>';
                content += '   <dd class="filter-entries-values">';
                content += '    <span class="filter-item ">' + pJObj.Style + '</span>';
                content += '    </dd>';
                content += '  </dl>';
                content += '  <dl class="filter-entries clearfix">';
                content += '   <dt class="filter-entries-label">Price:</dt>';
                content += '    <dd class="filter-entries-values">';
                content += '      <span class="filter-item ">' + pJObj.Price + '</span>';
                content += '    </dd>';
                content += '  </dl>';
                content += '  <dl class="filter-entries clearfix">';
                content += '     <dt class="filter-entries-label">Size:</dt>';
                content += '      <dd class="filter-entries-values">';


                var sizes = pJObj.Sizes.split(',');
                for (var i = 0; i < sizes.length; i++) {

                    content += '    <span class="filter-item">' + sizes[i] + '</span>';
                }

                content += '    </dd>';
                content += '  </dl>';
                content += '  </div>';


                content += '   <div style="border-image: none; width: 150px;height: 100%;  float: left;">';
                content += '     <div style="border: 1px solid rgb(0, 0, 0); border-image: none; width: 100%; height: 158px; margin-bottom: 5px;">manosque|羽绒服|1,223.00 </div>';
                content += '   <div style="text-align: left; line-height: 28px;">';
                content += '      <span>';
                content += '     Reserve at $<input style="width: 69px; border-color:#000000; border-style:solid;  border-top-width:0px; border-right-width:0px; border-bottom-width:1px; border-left-width:0px;padding:0px 5px;" type="text" />';
                content += '   </span>';
                content += '   <span style="height: 30px; line-height: 30px; display: block; ">';
                content += ' <a class="a-btn" style="font-size:12px; padding:6px 16px;" href="/Account/MyCart">Share</a>';
                content += ' <a class="a-btn btn-addtocart" id="btn-addtocart_' + i + '"  productid="' + pId + '" style="font-size:12px; padding:6px 6px;" href="javascript:void(0)">Add To Cart</a>';
                content += '  </span>';
                content += '  </div>';
                content += ' </div>';

                ihtml += content;
                ihtml += '</div>';
                ihtml += '</div>';
                $("body").append(ihtml);
                $(this).setMouseOverTipPos({
                    limitBoxId: limitBoxId,
                    tipBoxId: tipBoxId
                });
            });
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#owl_product').owlCarousel({
                items: 5,
                navigation: true,
                mouseDrag: false,
                rewindNav: false,
                itemsDesktop: [1199, 5],
                itemsDesktopSmall: [979, 5],
                itemsTablet: [768, 5],
                itemsMobile: [479, 5],
                navigationText: ["", ""],
                afterMove: function () {

                    var owl = $("#owl_product").data('owlCarousel');
                    if (owl.currentItem == owl.maximumItem) {
                        var omittedPages=parseInt($('#OmittedProductsPages').val())+1;
                        getProductList({ isAppend: true, currentItem: owl.currentItem,omittedPages:omittedPages });
                    }
                }
            });


            $('#owl_cart').owlCarousel({
                items: 6,
                navigation: true,
                mouseDrag: false,
                rewindNav: false,
                itemsDesktop: [1199, 6],
                itemsDesktopSmall: [979, 6],
                itemsTablet: [768, 6],
                itemsMobile: [479, 6],
                navigationText: ["", ""]
            });


            $('#product_filters_box .filter-entries .filter-entries-values .filter-item').live("click", function () {

                var input = $(this).find("input")[0];
                var input_value = $(input).val();
                var input_checked = $(input).attr("checked") == undefined ? false : true;
                var input_type = $(input).attr("type");



                if (input_value === '0') {
                    $(this).parent().find('input').attr("checked", false);
                    $(this).parent().find('span').css('color', '#000');
                    $(this).css('color', '#00a9e0');
                }
                else {

                    if (input_type === "checkbox") {
                        $(this).parent().find('span').eq(0).css('color', '#000');
                        $(this).parent().find('span').eq(0).find('input').attr("checked", false);
                    }
                    else {
                        $(this).parent().find('span').css('color', '#000');
                        $(this).parent().find('input').attr("checked", false);
                    }

                    if (input_checked) {
                        $(input).attr('checked', false);
                        $(this).css('color', '#000');
                    }
                    else {
                        $(input).attr('checked', true);
                        $(this).css('color', '#00a9e0');
                    }
                }

                $('#OmittedProductsPages').val('@Model.OmittedProductsPages');
                getProductList({ isAppend: false,omittedPages:@Model.OmittedProductsPages });

            });



            $("#retailer_@Model.Retailer").addClass("select");

        });


        function getProductList(opts) {

            opts = $.extend({
                isAppend: false,
                currentItem: 0,
                omittedPages:@Model.OmittedProductsPages,

            }, opts || {});

            $("#IsAppend").val(opts.isAppend);

            $.ajax({
                type: "post",
                url: "/Product/GetList",
                dataType: "json",
                data: $("#form1").serializeArray()
            }).done(function (data) {
                if (data.result == "Success") {

                    var owl = $("#owl_product").data('owlCarousel');

                    if (!opts.isAppend) {
                        $("#owl_product").html("");
                    }

                    var products = data.content;

                    if(products.length>0) {
                        $('#OmittedProductsPages').val(opts.omittedPages);
                    }


                    for (var i = 0; i < products.length; i = i + 2) {
                        var id = products[i].Id;
                        var owl_cart_item_id = "owl_cart_item" + id;
                        var ihtml = '<a class="item" id="' + owl_cart_item_id + '" >';
                        ihtml += '<ul>';
                        ihtml += '<li>';

                        if (i < products.length) {
                            ihtml += '<span id="product_' + products[i].Id + '">';
                            ihtml += '<pre style="display:none">' + JSON.stringify(products[i]) + '</pre>';
                            ihtml += '<img src="' + products[i].SmallImg + '" alt="">';
                            ihtml += '</span>';
                        }

                        ihtml += '</li>';
                        ihtml += '<li>';
                        if ((i + 1) < products.length) {
                            ihtml += '<span id="product_' + products[i + 1].Id + '">';
                            ihtml += '<pre style="display:none">' + JSON.stringify(products[i + 1]) + '</pre>';
                            ihtml += '<img src="' + products[i + 1].SmallImg + '" alt="">';
                            ihtml += '</span>';
                        }
                        ihtml += '</li>';
                        ihtml += '</ul>';
                        ihtml += '</a>';

                        owl.addItem(ihtml);

                    }

                    if (opts.isAppend) {
                        owl.jumpTo(opts.currentItem)
                    }

                }
            });
        }

    </script>
}
<form id="form1" name="form1">
    <input name="OmittedProductsPages" id="OmittedProductsPages" type="hidden" value="@Model.OmittedProductsPages" />
    <input name="IsAppend" id="IsAppend" type="hidden" value="false" />
    <input name="Retailer" id="Retailer" type="hidden" value="@Model.Retailer" />
    <div class="gbr gbr-product" id="gbr_product">
        <div class="wrapper">
            <div class="content clearfix">
                <div class="left">
                    <div class="wrapper">
                        <div class="content clearfix">
                            <div class="filter-lists-container product-filters-box" id="product_filters_box">
                                <dl class="filter-entries clearfix">
                                    <dt class="filter-entries-label"><span>Category </span></dt>
                                    <dd class="filter-entries-values">
                                        <span class="filter-item">
                                            All
                                            <input name="Category" type="checkbox" value="0" checked />
                                        </span>
                                        <span class="filter-item">
                                            Clothes
                                            <input name="Category" type="checkbox" value="Clothes" />
                                        </span>
                                        <span class="filter-item">
                                            Pants
                                            <input name="Category" type="checkbox" value="Pants" />
                                        </span>
                                        <span class="filter-item">
                                            Shoes
                                            <input name="Category" type="checkbox" value="Shoes" />
                                        </span>
                                    </dd>
                                </dl>
                                <dl class="filter-entries clearfix">
                                    <dt class="filter-entries-label"><span>Color</span></dt>
                                    <dd class="filter-entries-values">
                                        <span class="filter-item">
                                            All
                                            <input name="Color" type="checkbox" value="0" />
                                        </span>
                                        <span class="filter-item">
                                            Green
                                            <input name="Color" type="checkbox" value="Green" />
                                        </span>
                                        <span class="filter-item">
                                            Black
                                            <input name="Color" type="checkbox" value="Black" />
                                        </span>
                                        <span class="filter-item">
                                            <input name="Color" type="checkbox" value="Blue" />
                                            Blue
                                        </span>
                                        <span class="filter-item">
                                            <input name="Color" type="checkbox" value="Orange" />
                                            Orange
                                        </span>
                                        <span class="filter-item">
                                            <input name="Color" type="checkbox" value="Red" />
                                            Red
                                        </span>
                                        <span class="filter-item">
                                            <input name="Color" type="checkbox" value="Gray" />
                                            Gray
                                        </span>
                                    </dd>
                                </dl>
                                <dl class="filter-entries clearfix">
                                    <dt class="filter-entries-label"><span>Material</span></dt>
                                    <dd class="filter-entries-values">
                                        <span class="filter-item">
                                            All
                                            <input name="Material" type="radio" value="0" />
                                        </span>
                                        <span class="filter-item">
                                            Cotton
                                            <input name="Material" type="radio" value="Cotton" />
                                        </span>
                                        <span class="filter-item">
                                            Wool
                                            <input name="Material" type="radio" value="Wool" />
                                        </span>
                                        <span class="filter-item">
                                            Silk
                                            <input name="Material" type="radio" value="Silk" />
                                        </span>
                                        <span class="filter-item">
                                            Linen
                                            <input name="Material" type="radio" value="Linen" />
                                        </span>
                                        <span class="filter-item">
                                            Nylon
                                            <input name="Material" type="radio" value="Nylon" />
                                        </span>
                                        <span class="filter-item">
                                            Ramine
                                            <input name="Material" type="radio" value="Ramine" />
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="middle">
                    <div class="wrapper">
                        <div class="content clearfix middle-box" id="middle_box">
                            <!-- ProductBox -->
                            <div class="product-box" id="product_box">
                                <div class="wrapper">
                                    <div class="content" style="height:300px">
                                        <div id="owl_product" class="owl-carousel owl-product">

                                            @for (var i = 0; i < Model.Products.Count; i = i + 2)
                                            {
                                                <a class="item">
                                                    <ul>
                                                        <li>
                                                            @if (i < Model.Products.Count)
                                                            {
                                                                <span id="product_@Model.Products[i].Id">
                                                                    <pre style="display:none">@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Products[i])</pre>
                                                                    <img src="@Model.Products[i].SmallImg" alt="">
                                                                </span>
                                                            }
                                                        </li>
                                                        <li>
                                                            @if ((i + 1) < Model.Products.Count)
                                                            {
                                                                <span id="product_@Model.Products[i+1].Id">
                                                                    <pre style="display:none">@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Products[i+1])</pre>
                                                                    <img src="@Model.Products[i + 1].SmallImg" alt="">
                                                                </span>
                                                            }
                                                        </li>
                                                    </ul>
                                                </a>
                                            }
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- ProductBox end -->
                            <!-- CartBox -->
                            <div class="cart-box">
                                <div class="wrapper">
                                    <div class="content">
                                        <div id="owl_cart" class="owl-carousel owl-cart">

                                            @for (var i = 0; i < Model.CartProducts.Count; i++)
                                            {
                                                <a class="item">
                                                    <span id="cartproduct_@Model.CartProducts[i].Id">
                                                        <pre style="display:none">@Newtonsoft.Json.JsonConvert.SerializeObject(Model.CartProducts[i])</pre>
                                                        <img src="@Model.CartProducts[i].SmallImg" alt="">
                                                    </span>
                                                </a>
                                            }

                                        </div>

                                        <div class="cart-box-null" style="margin-top:20px;">
                                            <div class="cart-box-null-img">

                                            </div>
                                            <p class="cart-box-null-text">choice products into the shopping cart </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- CartBox end -->
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="wrapper">
                        <div class="content clearfix">
                            <div class="retailers-box" style="height:410px;">
                                <span class="title">Retailers</span>
                                <ul class="options">
                                    @for (int i = 0; i < Model.Retailers.Count; i++)
                                    {
                                        <li><a id="retailer_@Model.Retailers[i].Id" href="/Product/List/@Model.Retailers[i].Id/0">@Model.Retailers[i].Name</a> </li>
                                    }
                                </ul>
                            </div>
                            <div>
                                <span style="height: 30px; line-height: 30px; display: block; text-align: center;"><a class="a-btn" style="font-size:12px; padding:6px 8px;" href="/Account/MyCart">Go My Cart</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="poptip" id="middle_box_xiuTipBox" style="padding: 10px; left: 369.98px; top: 292.94px; width: 325px; height: 230px; position: absolute;">
                <span class="t_bg"></span>
                <span class="b_bg"></span>
                <span class="arrow arrow_bottom_left" id="tipArr"></span>
                <div class="filter-lists-container" style="width: 160px;border-image: none; border:1px solid #000; width: 160px; margin-right: 10px; height: 228px; float: left;">
                    <dl class="filter-entries clearfix">
                        <dt class="filter-entries-label">Material:</dt>
                        <dd class="filter-entries-values">
                            <span class="filter-item "> 100% Cotton</span>
                        </dd>
                    </dl>
                    <dl class="filter-entries clearfix">
                        <dt class="filter-entries-label">Color:</dt>
                        <dd class="filter-entries-values">
                            <span class="filter-item">Red</span>
                            <span class="filter-item">Blue</span>
                            <span class="filter-item">Blue</span>
                            <span class="filter-item">Blue</span>
                            <span class="filter-item">Blue</span>
                            <span class="filter-item">Blue</span>
                        </dd>
                    </dl>
                    <dl class="filter-entries clearfix">
                        <dt class="filter-entries-label">Style:</dt>
                        <dd class="filter-entries-values">
                            <span class="filter-item ">   Striped</span>
                        </dd>
                    </dl>
                    <dl class="filter-entries clearfix">
                        <dt class="filter-entries-label">Price:</dt>
                        <dd class="filter-entries-values">
                            <span class="filter-item ">1000</span>
                        </dd>
                    </dl>
                    <dl class="filter-entries clearfix">
                        <dt class="filter-entries-label">Size:</dt>
                        <dd class="filter-entries-values">
                            <span class="filter-item ">S-L</span>
                        </dd>
                    </dl>
                </div>
                <div style="border-image: none; width: 150px;height: 100%;  float: left;">
                    <div style="border: 1px solid rgb(0, 0, 0); border-image: none; width: 100%; height: 158px; margin-bottom: 5px;">manosque|羽绒服|1,223.00 </div>
                    <div style="text-align: left; line-height: 28px;">
                        <span>
                            Reserve at $<input style="width: 69px; border-color:#000000; border-style:solid;  border-top-width:0px; border-right-width:0px; border-bottom-width:1px; border-left-width:0px;padding:0px 5px;" type="text" />
                        </span>
                        <span style="height: 30px; line-height: 30px; display: block; ">
                            <a class="a-btn" style="font-size:12px; padding:6px 16px;" href="/Account/MyCart">Share</a>
                            <a class="a-btn" style="font-size:12px; padding:6px 6px;" href="/Account/MyCart">Add To Cart</a>
                        </span>
                    </div>
                </div>
            </div>*@
    </div>
</form>
