@{
    ViewBag.Title = "Users List";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutTree.cshtml";
}

@section scripts{
    <script type="text/javascript">
        var sescondBoxSel;
        var searchCondition;
        $(document).ready(function () {
            searchCondition = $(".firCon").serializeArray();
            listTableData(0); //默认第一页
        });

        //列表加载数据
        function listTableData(pageIndex) {
            var l_Data = searchCondition;
            $("#list_table").loadDataTable({
                url: "../User/GetUserList",
                pageIndex: pageIndex,
                dataParms: l_Data,
                isReSetTabHeight: true,
                rowFun: function rowtd(p_index, p_row) {
                    var l_Strlimt = "";
                    l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" class=\\\"a-btn-edit\\\" onclick=\\\"javascript:$.lumos.openWin(this,'../User/Update?id={key}','【Modify-{title}】', '650px', '500px');\\\" >Modify</a>", PermissionCode.None)";
                    l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" class=\\\"a-btn-del\\\" onclick=\\\"javascript:listTableDel(this,false,'{key}');\\\">Delete</a>", PermissionCode.None)";
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"tb_cbox\"  key=\"" + p_row.Id + "\"><a styple=\"padding-left:2px\">" + (p_index + 1) + "</a></td>";
                    l_StrRows += "<td class=\"tb_CurSel td_overflow\" title=\"" + p_row.UserName + "\">" + p_row.UserName + "</td>";
                    l_StrRows += "<td class=\"td_overflow\" title=\"" + p_row.RealName + "\" >" + p_row.RealName + "</td>";
                    l_StrRows += "<td class=\"td_overflow\" title=\"" + p_row.Email + "\">" + p_row.Email + "</td>";
                    l_StrRows += "<td class=\"td_overflow\" title=\"" + p_row.Tel + "\">" + p_row.Tel + "</td>";
                    l_StrRows += "<td class=\"td_overflow\" title=\"" + p_row.Mobile + "\">" + p_row.Mobile + "</td>";
                    l_StrRows += "<td class=\"td_overflow\" title=\"" + p_row.CreateTime + "\">" + p_row.CreateTime + "</td>";
                    l_StrRows += "<td class=\"tb-operation lumos_btnarea\">";
                    l_StrRows += l_Strlimt;
                    l_StrRows = l_StrRows.replace(/{key}/g, p_row.Id);
                    l_StrRows = l_StrRows.replace(/{title}/g, p_row.UserName);
                    l_StrRows += "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                }
            });
        }

        //列表行删除函数
        function listTableDel(object, multiSelect, data) {
            $("#list_table").operateData({
                object: object,
                data: data,
                multiSelect: multiSelect,
                selectTip: "Please select the data you want to delete！",
                confirmTip: "Are you sure you want to delete the selected data？\r\n",
                ok: function (sekKeys) {
                    $.lumos.post({
                        url: "../User/RemoveUser",
                        data: { userIds: sekKeys },
                        success: function (data) {
                            art.dialog.alert(data.message);
                            listTableData(0);
                        }
                    });
                }
            });

            return false;
        }

        //执行一般查询按钮
        function firstBoxSel() {
            searchCondition = $(".firCon").serializeArray();
            listTableData(0);
        }

    </script>

}

<div class="gbr gbr-maintitle" id="gbr-maintitle">
    <div class="wrapper">
        <div class="content">
            <span class="title-icon">@ViewBag.Title</span>
            <span class="title-message"></span>
        </div>
    </div>
</div>

<div class="gbr gbr-mainbody" id="gbr-mainbody">
    <div class="wrapper">
        <div class="content">

            <form id="form1" name="form1">
                @AntiForgery.GetHtml()
                <div class="l">
                    <div class="l-que">
                        <div class="l-que-search clearfix">
                            <ul class="l-que-search-condition">
                                <li class="item"><label>Account：</label> <input type="text" id="txt_UserName" name="txt_UserName" class="firCon form-control" /></li>
                                <li class="item">
                                    <label>Name：</label> <input type="text" id="txt_RealName" name="txt_RealName" class="firCon form-control" />
                                    <input type="button" name="btn_FirstBoxSel" id="btn_FirstBoxSel" value="Search" class="l-btn" onclick="javascript: firstBoxSel();" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                    <div class="l-btn-area">
                        @Html.IsInPermission("<a id=\"abtn_del\" class=\"a-btn-del lumos_opfun list_checkbox\" href=\"javascript:void(0)\" onclick=\"javascript:return listTableDel(this,true,0);\">Delete </a>", PermissionCode.None)
                        @Html.IsInPermission("<a id=\"abtn_add\" class=\"a-btn-add lumos_opfun\" href=\"javascript:void(0)\" onclick=\"javascript: $.lumos.openWin(this,'../User/Add', 'Add', '650px', '600px'); \">Add</a>", PermissionCode.None)
                    </div>
                    <div class="l-list">
                        <table id="list_table" class="l-list-tb">
                            <thead>
                                <tr>
                                    <th style='width: 5%'>
                                        <input id="list_table_CheckAll" type="checkbox" name="list_table_CheckAll" onclick="javascript: return $.lumos.selTableCheckBox(this.checked, this.id);" />
                                    </th>
                                    <th style='width: 10%'>
                                        Account
                                    </th>
                                    <th style='width: 10%'>
                                        Name
                                    </th>
                                    <th style='width: 10%'>
                                        Email
                                    </th>
                                    <th style='width: 10%'>
                                        TelPhone
                                    </th>
                                    <th style='width: 10%'>
                                        Mobile
                                    </th>
                                    <th style='width: 10%'>
                                        CreatTime
                                    </th>
                                    <th class="tb-operation" style='width: 10%;'>
                                        <a class="hide">Operate</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

