<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta content="" name="description">
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link href="~/Areas/Manager/Content/base/Site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <script src="~/Areas/Manager/Scripts/ArtDialog/artDialog.source.js?skin=default"></script>
    <script src="~/Areas/Manager/Scripts/ArtDialog/iframeTools.source.js"></script>
    <script src="~/Areas/Manager/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Areas/Manager/Scripts/json2.js"></script>
    <script src="~/Areas/Manager/Scripts/jquery.form.js"></script>
    <script src="~/Areas/Manager/Scripts/jquery.cookie.js"></script>
    <script src="~/Areas/Manager/Scripts/jquery.lumos.back.1.0.0.js"></script>
    <script src="~/Areas/Manager/Scripts/jquery.resizeEnd.js"></script>
    <script type="text/javascript">
        (function ($) {

            $.imgVerifyCode = {
                init: function (opts) {

                    opts = $.extend({
                        imgId: 'img1',
                        btnId: 'a1',
                        sessionName: 'verifycode'
                    }, opts || {});


                    function getImgVerifyCode() {
                      
                        $("#" + opts.imgId).attr("src", "/Manager/Common/GetImgVerifyCode?name=" + opts.sessionName + "&date=" + new Date().getTime());

                    }

                    getImgVerifyCode();

                    $('#' + opts.imgId + ',#' + opts.btnId).live("click", function () {
                        getImgVerifyCode();
                    });

                    this.getImgVerifyCode = getImgVerifyCode;

                    return this;
                },
                getCode: function () {
                    this.getImgVerifyCode();
                }
            };

        })(jQuery);

        $(document).ready(function () {

            $("ul.btn-dropdownmenu > .parent").on("mouseenter", function (e) {
                var _this = $(this);

                var children = $(_this).find('.children');
                var display = $(children).css('display');

                if (display == "none") {
                    $(children).show();
                    $(_this).addClass('open');
                }
                else {
                    $(children).hide();
                    $(_this).removeClass('open');
                }

                $(_this).mouseleave(function () {
                    $(children).hide();
                    $(_this).removeClass('open');
                });

            });

            $("input[childname$='child']").multiSelect();


        });

    </script>
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
    @RenderSection("scriptsbyend", required: false)
</body>
</html>
