@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    @RenderSection("styles", required: false)
}
@section scripts{
    @RenderSection("scripts", required: false)
}
@section scriptsbyend{
    @RenderSection("scriptsbyend", required: false)
}

<!--top Start-->
<div class="gbr gbr-top">
    <div class="wrapper">
        <div class="content clearfix">
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="horizontal button">
                        <li><a href="javascript:void(0)">Welcome,@User.Identity.GetUserName()</a></li>
                        <li><a href="/Account/MyCart">My Cart</a></li>
                     
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a></li>
                    </ul>

                }
            }
            else
            {
                <ul class="horizontal button">
                    <li><a href="/Account/SignIn">Sign In</a></li>
                    <li><a href="/Account/SignUp">Sign Up</a></li>
                </ul>
            }

        </div>
    </div>
</div>
<!--top Start-->
<!--header Start-->
<div class="gbr gbr-header">
    <div class="wrapper">
        <div class="content clearfix">
            <ul class="horizontal menu">
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="/Home/AboutUs">About Us</a></li>
                <li><a href="/Home/ContactUs">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>
<!--header End-->
<!--main Start-->
<div class="gbr gbr-main">
    <div class="wrapper">
        <div class="content clearfix">
            @RenderBody()
        </div>
    </div>
</div>
<!--main End-->
<!--footer Start-->
<div class="gbr gbr-footer">
    <div class="wrapper">
        <div class="content clearfix">
            <p class="copyright">Copyright © 2015</p>
        </div>
    </div>
</div>
<!--footer End-->
