@model Sageras.WebBack.Models.ClientViewModel
@{
    ViewBag.Title = "新建客户";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}
@using Sageras.Entity
@section scripts{
    <script src="/Scripts/Jquery.tree/jquery.ztree.excheck-3.2.js"></script>
    <script src="/Scripts/DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        <!--

        var structBankAccount = { "Id": "", "UserId": "", "Currencies": "", "AccountNo": "", "BankName": "", "SwiftCode": "","Cardholder":"","AreaCode":"","Area":"","BankBranch":""};
        var arrBankAccount = []; //用来保存客户的银行账号信息
        var bankAccountBoxDialog;
        $(this).ready(function () {

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { art.dialog.alert(msg) }, onSuccess: function () { return add(); } });
            $("#txt_UserName").formValidator({ onShow: "请输入！", onFocus: "不能为空,且不超过50个字符,格式为手机或邮箱！", onCorrect: "&nbsp;" }).functionValidator({
                fun: function (val, elem) {
                    var len=$.trim(val).length;
                    if(len==0)
                        return "不能为空！"
                    if(len>50)
                        return "不能超过50个字符！"

                    var v = val.indexOf("@Html.Raw("@")")
                    val=$.trim(val);
                    if (v > -1) {
                        var myReg =@Html.Raw(@"/^[-_A-Za-z0-9]+@([_A-Za-z0-9]+\.)+[A-Za-z0-9]{2,3}$/")
                        if (myReg.test(val)) return true;
                        return "请输入正确的邮箱格式！";
                    }
                    else {
                        var patrn = /^1\d{10}$/;
                        if (!patrn.exec(val)) {
                            return "请输入手机或邮箱格式！"
                        }
                        return true
                    }
                }
            });

            $("#txt_RealUserName").formValidator({ onShow: "请输入！", onFocus: "不能为空,且不超过50个字符！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 50, onError: "不能为空,且不超过50个字符！" });
            $("#txt_RealCompanyName").formValidator({ onShow: "请输入！", onFocus: "不能为空,且不超过50个字符！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 50, onError: "不能为空,且不超过50个字符！" });
            $("#txt_RealUserIdNo").formValidator({ onShow: "请输入！", onFocus: "请输入！", onCorrect: "&nbsp;" }).inputValidator({ min: 0, max: 50, onError: "用户实名认证信息的证件号码须小于50个字符！" });
            $("#txt_RealCompanyOrgCode").formValidator({ onShow: "请输入！", onFocus: "请输入！", onCorrect: "&nbsp;" }).inputValidator({ min: 0, max: 50, onError: "用户实名认证信息的组织机构代码须小于50个字符！" });
            $("#txt_RealCompanyLegal").formValidator({ onShow: "请输入！", onFocus: "请输入！", onCorrect: "&nbsp;" }).inputValidator({ min: 0, max: 50, onError: "用户实名认证信息的法人代表名字须小于50个字符！" });
            $("#txt_Contact").formValidator({ onShow: "请输入！", onFocus: "不能为空,且不超过50个字符！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 50, onError: "不能为空,且不超过50个字符！" });
            $("#txt_ContactMoblie").formValidator({ onShow: "请输入！", onFocus: "请输入！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 11, onError: "不能为空,且等于11个数字！" }).regexValidator({ regExp: regexEnum.mobile, onError: "不能为空,且等于11个数字！" });
            $("#txt_ContactTel").formValidator({ onShow: "请输入！", onFocus: "可空,或不超过20个数字！", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).regexValidator({ regExp: regexEnum.tel2, onError: "可空,或不超过20个数字！" });
            $("#txt_ContactEmail").formValidator({ onShow: "请输入！", onFocus: "可空,,或为邮箱格式且不超过50个字符！", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).inputValidator({ min: 0, max: 50, onError: "可空,或为邮箱格式且不超过50个字符！" }).regexValidator({ regExp: regexEnum.email, onError: "可空,或为邮箱格式且不超过50个字符！" });
            $("#txt_ContactQQ").formValidator({ onShow: "请输入！", onFocus: "不能为空,且不超过20个数字！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 20, onError: "不能为空,且不超过20个数字！" }).regexValidator({ regExp: regexEnum.qq, onError: "不能为空,且不超过20个数字！" });
            $("#txt_ContactWeChat").formValidator({ onShow: "请输入！", onFocus: "请输入！", onCorrect: "&nbsp;" }).inputValidator({ min: 0, max: 50, onError: "微信须不超过50个字符！" });
            $("#txt_ContactIdNo").formValidator({ onShow: "请输入！", onFocus: "请输入！", onCorrect: "&nbsp;" }).inputValidator({ min: 0, max: 50, onError: "证件号码须不超过50个字符！" });
            $("#txt_ContactAddress").formValidator({ onShow: "请输入！", onFocus: "请输入！", onCorrect: "&nbsp;" }).inputValidator({ min: 0, max: 500, onError: "详细地址须不超过500个字符！" });
         
            $("#file_RealUserIdPic").uploadImage({ form: "form1", url: "/Common/UploadImage", path: "/Client", imgId: "img_RealUserIdPic" });
            $("#file_RealCompanyLegalIdPic").uploadImage({ form: "form1", url: "/Common/UploadImage", path: "/Client", imgId: "img_RealCompanyLegalIdPic" });
            $("#file_RealCompanyBizPic").uploadImage({ form: "form1", url: "/Common/UploadImage", path: "/Client", imgId: "img_RealCompanyBizPic"});
            $("#file_RealCompanyTaxPic").uploadImage({ form: "form1", url: "/Common/UploadImage", path: "/Client", imgId: "img_RealCompanyTaxPic"});
            $("#file_ContactIdPic").uploadImage({ form: "form1", url: "/Common/UploadImage", path: "/Client", imgId: "img_ContactIdPic"});



           // 处理隐藏内容
            $("input[name='rd_RealAccountType']").change(function () {
                var v = $("input[name='" + $(this).attr("name") + "']:checked").val();
                $("tr[class^='tr_RealAccountType']").hide();
                $(".tr_RealAccountType" + v).show();
                if (v == 1) {
                    $("#txt_RealUserName").attr("disabled", false).unFormValidator(false);
                    $("#txt_RealCompanyName").attr("disabled", true).unFormValidator(true);
                }
                else if (v == 2) {
                    $("#txt_RealUserName").attr("disabled", true).unFormValidator(true);
                    $("#txt_RealCompanyName").attr("disabled", false).unFormValidator(false);
                }
            });

            $("input[name='rd_RealAccountType']").change();


        });

        //配置验证添加银行账号信息
        function validedAddBankAccountForm() {
            $(":checkbox[name='cb_BankCurrencies']").formValidator({ validatorGroup: "2", onShow: "至少选一种币种！", onFocus: "至少选一种币种！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, onError: "至少选一种币种！" });
            $("#txt_BankAreaCode").formValidator({ validatorGroup: "2", onShow: "请选择地区！", onFocus: "请选择地区！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 100, onError: "请选择地区！" });
            $("#txt_BankName").formValidator({ validatorGroup: "2", onShow: "请输入！", onFocus: "不能为空,且不超过100个字符！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 100, empty: { leftEmpty: false, emptyError: "不能为空！" }, onError: "不能为空,且不超过100个字符！" });
            $("#txt_BankBranch").formValidator({ validatorGroup: "2", onShow: "请输入！", onFocus: "不能为空,且不超过100个字符！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 100, empty: { leftEmpty: false, emptyError: "不能为空！" }, onError: "不能为空,且不超过100个字符！" });
            $("#txt_BankAccountNo").formValidator({ validatorGroup: "2", onShow: "请输入！", onFocus: "不能为空,且不超过19个数字！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 19, empty: { leftEmpty: false, emptyError: "不能为空！", isUseMiddleEmptySize: false }, onError: "不能为空,且不超过19个数字！" });
            $("#txt_BankCardholder").formValidator({ validatorGroup: "2", onShow: "请输入！", onFocus: "不能为空,且不超过50个字符！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 50, empty: { leftEmpty: false, emptyError: "不能为空！" }, onError: "不能为空,且不超过50个字符！" });
            $("#txt_BankSwiftCode").formValidator({ onShow: "请输入！", onFocus: "可空,或由8或11个数字或字母组成的字符！", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).regexValidator({ max: 11, regExp: "^[0-9a-zA-Z_]{8}$|^[0-9a-zA-Z_]{11}$", onError: "可空,或由8或11个数字或字母组成的字符！" });
        }

        //Json被保险人添加处理
        function bankAccountAddByJson(jsonDataSource, jsonAddData, key) {

            var isflag = false;
            if (jsonDataSource.length == 0) {
                jsonDataSource.push(jsonAddData);
            } else {
                $.each(jsonDataSource, function (p_index, p_row) {
                    var val = jsonDataSource[p_index][key].replace(/\s+/g, "");
                    var val2 = jsonAddData[key].replace(/\s+/g, "");
                    if (val === val2) {
                        art.dialog.alert('已经存在该银行账号!');
                        isflag = true;
                    }
                });
                if (!isflag) {
                    jsonDataSource.push(jsonAddData);
                }
            }
            return isflag;
        }
        //Json身故受益人删除处理
        function bankAccountDeleteByJson(json, key, value) {

            var index = 0;
            $.each(json, function (p_index, p_row) {
                if (json[p_index][key] == value) {
                    index = p_index;
                }
            });
            if (index != -1) {
                json.splice(index, 1);
                listBankAccount(json)
            }
        }

        //添加银行卡信息
        function listBankAccountAdd() {
            var obj = structBankAccount.constructor();
            obj.Currencies = "";
            obj.AccountNo = $('#txt_BankAccountNo').val();
            obj.BankName = $('#txt_BankName').val();
            obj.BankBranch = $('#txt_BankBranch').val();
            obj.AreaCode = $('#txt_BankAreaCode').val();
            obj.Area = $('#txt_BankArea').val();
            obj.SwiftCode = $('#txt_BankSwiftCode').val();
            obj.Cardholder = $('#txt_BankCardholder').val();
            obj.Currencies = $("input[name=cb_BankCurrencies]").getMultiSelectValues();

            var isflag=bankAccountAddByJson(arrBankAccount, obj, "AccountNo"); //添加json对象
            if (!isflag) {
                listBankAccount(arrBankAccount);
                bankAccountBoxDialog.close();
            }
        }

        //银行卡信息列表
        function listBankAccount(arr) {
            var l_Strlimt = "";
            var strRow = "";
            var tb = $("#list_table_bankaccount");
            $(tb).find("tbody tr").remove();
            $.each(arr, function (p_index, p_row) {
                l_Strlimt = '<a href="javascript::(void)" onclick="javascript:listBankAccountDelete(this)" class="a-btn-del" >移除</a>';
                strRow += "<tr>";
                strRow += "<td class=\"tb_cbox\"> <input class=\"key\"  type=\"hidden\" value=\"" + p_row.AccountNo + "\" />  " + (p_index + 1) + "</td>";
                strRow += "<td class='td_overflow' title='" + p_row.AccountNo.toBankAccountNo() + "'>  " + p_row.AccountNo.toBankAccountNo() + "</td>";
                strRow += "<td class='td_overflow' title='" + p_row.Area + "'>" + p_row.Area + "</td>";
                strRow += "<td class='td_overflow' title='" + p_row.BankName + "'>" + p_row.BankName + "</td>";
                strRow += "<td class='td_overflow' title='" + p_row.BankBranch + "'>" + p_row.BankBranch + "</td>";
                currenciesText = $('input[name=cb_BankCurrencies]').getMultiSelectTexts(p_row.Currencies);
                strRow += "<td class='td_overflow' title='" + currenciesText + "'>" + currenciesText + "</td>";
                strRow += "<td class='td_overflow' title='" + p_row.Cardholder + "'>" + p_row.Cardholder + "</td>";
                strRow += "<td class='td_overflow' title='" + p_row.SwiftCode + "'>" + p_row.SwiftCode + "</td>";
                strRow += "<td class='tb-operation'>";
                strRow += l_Strlimt.replace(/{key}/g, p_index);
                strRow += "</td>";
                strRow += "</tr>";
            });
            $(tb).find("tbody").append(strRow);
            $("#txt_BankAccounts").val(JSON.stringify(arr));

        }

        //删除银行卡信息
        function listBankAccountDelete(obj) {
            var value = $(obj).parent().parent().find('.key').val();
            bankAccountDeleteByJson(arrBankAccount, 'AccountNo', value);
        }


        function add() {

            $('#form1').ajaxSubmit({
                type: "post",  //提交方式
                dataType: "json",
                url: "/ClientUser/AddUser",
                success: function (data) {
                    if (data.result == "Success") {
                        var win = art.dialog.open.origin;
                        win.listTableData(0);
                        art.dialog.alert(data.message, function () { art.dialog.close(); });
                    }
                    else{
                        art.dialog.alert(data.message);
                    }
                }
            });
            return false;
        }

        //-->
    </script>
    <style type="text/css">
        .tr_RealAccountType2 {
            display: none;
        }
    </style>
}

<div class="gbr gbr-maintitle" id="gbr-maintitle">
    <div class="wrapper">
        <div class="content">
            <span class="title-icon">@ViewBag.Title</span>
            <span class="title-message"></span>
        </div>
    </div>
</div>

<div class="gbr gbr-mainbody" id="gbr-mainbody">
    <div class="wrapper">
        <div class="content">
            <form id="form1" name="form1" enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                <table class="f-tb" cellpadding="0" cellspacing="1">
                    <tr>
                        <td class="f-tb-i" colspan="4">
                            基本信息
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            账号：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_UserName" class="form-control" type="text" id="txt_UserName" style="width: 150px;" />
                            <span id="txt_UserNameTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            主要范围：
                        </td>
                        <td class="f-tb-c">
                            @(Html.initEnumeration<Enumeration.MainBizRang>(Enumeration.InputType.Select, "ddl_MainBizRange", new { selectedvalue = new Enumeration.MainBizRang[] { Enumeration.MainBizRang.出口电商 } }))
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            是否禁用：
                        </td>
                        <td class="f-tb-c">

                            <input type="radio" name="rd_IsDisable" id="rd_IsDisable1" value="0" checked />
                            <label for="rd_IsDisable1">否</label>
                            <input type="radio" name="rd_IsDisable" id="rd_IsDisable2" value="1" />
                            <label for="rd_IsDisable2">是</label>
                            @*<span id="txt_MobileTip"></span>*@
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-i" colspan="4">
                            用户实名认证信息
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">类型：</td>
                        <td class="f-tb-c">
                            @(Html.initEnumeration<Enumeration.RealAccountType>(Enumeration.InputType.Radio, "rd_RealAccountType", new { selectedvalue = new Enumeration.RealAccountType[] { Enumeration.RealAccountType.个人 } }))
                        </td>
                    </tr>
                    <tr class="tr_RealAccountType1">
                        <td class="f-tb-t">
                            姓名：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_RealUserName" class="form-control" type="text" id="txt_RealUserName" style="width: 150px;" />
                            <span id="txt_RealUserNameTip"></span>
                        </td>
                    </tr>
                    <tr class="tr_RealAccountType1">
                        <td class="f-tb-t">
                            证件类型：
                        </td>
                        <td class="f-tb-c">
                            @(Html.initEnumeration<Enumeration.UserIdType>(Enumeration.InputType.Select, "ddl_RealUserIdType", new { selectedvalue = new Enumeration.UserIdType[] { Enumeration.UserIdType.身份证 } }))
                        </td>
                    </tr>
                    <tr class="tr_RealAccountType1">
                        <td class="f-tb-t">
                            证件号码：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_RealUserIdNo" class="form-control" type="text" id="txt_RealUserIdNo" style="width: 150px;" />
                        </td>
                    </tr>
                    <tr class="tr_RealAccountType1">
                        <td class="f-tb-t">
                            上传证件：
                        </td>
                        <td class="f-tb-c">
                            <input name="file_RealUserIdPic" id="file_RealUserIdPic" type="file" />
                            <div id="img_RealUserIdPicBox">
                                <img class="open-bigimg" id="img_RealUserIdPic" height="100px" style="display:none" />
                            </div>
                        </td>
                    </tr>

                    <tr class="tr_RealAccountType2">
                        <td class="f-tb-t">
                            公司名字：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_RealCompanyName" class="form-control" type="text" id="txt_RealCompanyName" style="width: 150px;" />
                            <span id="txt_RealCompanyNameTip"></span>
                        </td>
                    </tr>
                    <tr class="tr_RealAccountType2">
                        <td class="f-tb-t">
                            组织机构代码：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_RealCompanyOrgCode" class="form-control" type="text" id="txt_RealCompanyOrgCode" style="width: 150px;" />
                        </td>
                    </tr>
                    <tr class="tr_RealAccountType2">
                        <td class="f-tb-t">
                            法人代表名字：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_RealCompanyLegal" class="form-control" type="text" id="txt_RealCompanyLegal" style="width: 150px;" />

                        </td>
                    </tr>
                    <tr class="tr_RealAccountType2">
                        <td class="f-tb-t">
                            法人身份证：
                        </td>
                        <td class="f-tb-c">
                            <input name="file_RealCompanyLegalIdPic" id="file_RealCompanyLegalIdPic" type="file" />
                            <div id="img_RealCompanyLegalIdPicBox">
                                <img class="open-bigimg" id="img_RealCompanyLegalIdPic" height="100px" style="display:none" />
                            </div>
                        </td>
                    </tr>
                    <tr class="tr_RealAccountType2">
                        <td class="f-tb-t">
                            营业执照：
                        </td>
                        <td class="f-tb-c">
                            <input name="file_RealCompanyBizPic" id="file_RealCompanyBizPic" type="file" />
                            <div id="img_RealCompanyBizPicBox">
                                <img class="open-bigimg" id="img_RealCompanyBizPic" height="100px" style="display:none" />
                            </div>
                        </td>
                    </tr>
                    <tr class="tr_RealAccountType2">
                        <td class="f-tb-t">
                            税务登记证：
                        </td>
                        <td class="f-tb-c">
                            <input name="file_RealCompanyTaxPic" id="file_RealCompanyTaxPic" type="file" />
                            <div id="img_RealCompanyTaxPicBox">
                                <img class="open-bigimg"  id="img_RealCompanyTaxPic" height="100px" style="display:none" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-i" colspan="4">
                            联系人信息
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            联系人：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_Contact" class="form-control" type="text" id="txt_Contact" style="width: 150px;" />
                            <span id="txt_ContactTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            性别：
                        </td>
                        <td class="f-tb-c">
                            @(Html.initEnumeration<Enumeration.Sex>(Enumeration.InputType.Select, "ddl_ContactSex", new { selectedvalue = new Enumeration.Sex[] { Enumeration.Sex.男 } }))
                            <span id="txt_ContactTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            生日：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_ContactBirthday" class="form-control WdateSel" type="text" id="txt_ContactBirthday" style="width: 100px;" onfocus=" WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            联系手机：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_ContactMoblie" class="form-control" type="text" id="txt_ContactMoblie" style="width: 150px;" />
                            <span id="txt_ContactMoblieTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            联系电话：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_ContactTel" class="form-control" type="text" id="txt_ContactTel" style="width: 150px;" />
                            <span id="txt_ContactTelTip"></span>
                         </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            联系Email：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_ContactEmail" class="form-control" type="text" id="txt_ContactEmail" style="width: 150px;" />
                            <span id="txt_ContactEmailTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            联系QQ：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_ContactQQ" class="form-control" type="text" id="txt_ContactQQ" style="width: 150px;" />
                            <span id="txt_ContactQQTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            微信：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_ContactWeChat" class="form-control" type="text" id="txt_ContactWeChat" style="width: 150px;" />
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            证件类型：
                        </td>
                        <td class="f-tb-c">
                            @(Html.initEnumeration<Enumeration.UserIdType>(Enumeration.InputType.Select, "ddl_ContactIdType", new { selectedvalue = new Enumeration.UserIdType[] { Enumeration.UserIdType.身份证 } }))
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            证件号码：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_ContactIdNo" class="form-control" type="text" id="txt_ContactIdNo" style="width: 150px;" />
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            上传证件：
                        </td>
                        <td class="f-tb-c">
                            <input name="file_ContactIdPic" id="file_ContactIdPic" type="file" />
                            <div id="img_ContactIdPicBox">
                                <img class="open-bigimg" id="img_ContactIdPic" height="100px" style="display:none" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            用户所在地区：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_ContactArea" id="txt_ContactArea" autocomplete="off" type="text" readonly value="请选择地区" class="city_input  inputFocus proCityQueryAll proCitySelAll" ov="请选择地区">
                            <input name="txt_ContactAreaCode" type="hidden" id="txt_ContactAreaCode" />


                            @*<input name="txt_Mobile" class="form-control" type="text" id="txt_Mobile" style="width: 150px;" />*@
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            详细地址：
                        </td>
                        <td class="f-tb-c">
                            <input name="txt_ContactAddress" class="form-control" type="text" id="txt_ContactAddress" style="width: 250px;" />
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t"></td>
                        <td class="f-tb-c">
                            <input type="submit" name="btn_Submit" id="btn_Submit" value="确定" class="f-tb-btn" />
                            <input type="button" name="btn_Cancle" id="btn_Cancle" value="关闭" class="f-tb-btn" />
                        </td>
                    </tr>
                </table>
                <!--弹出省省市-->
                <div class="provinceCityAll">
                    <div class="tabs clearfix">
                        <ul class="">
                            <li><a href="javascript:" class="current" tb="hotCityAll">热门城市</a></li>
                            <li><a href="javascript:" tb="provinceAll">省份</a></li>
                            <li><a href="javascript:" tb="cityAll" id="cityAll">城市</a></li>
                            <li><a href="javascript:" tb="countyAll" id="countyAll">区县</a></li>
                        </ul>
                    </div>
                    <div class="con">
                        <div class="hotCityAll invis">
                            <div class="pre"><a></a></div>
                            <div class="list">
                                <ul>
                                    <!-- 					<li><a href="javascript:"  class="current">南京</a></li> -->
                                </ul>
                            </div>
                            <div class="next"><a class="can"></a></div>
                        </div>
                        <div class="provinceAll invis">
                            <div class="pre"><a></a></div>
                            <div class="list">
                                <ul>
                                    <!-- 					<li><a href="javascript:"  class="current">江西省</a></li> -->
                                </ul>
                            </div>
                            <div class="next"><a class="can"></a></div>
                        </div>
                        <div class="cityAll invis">
                            <div class="pre"><a></a></div>
                            <div class="list">
                                <ul>
                                    <!-- 					<li><a href="javascript:"  class="current">南京</a></li> -->
                                </ul>
                            </div>
                            <div class="next"><a class="can"></a></div>
                        </div>
                        <div class="countyAll invis">
                            <div class="pre"><a></a></div>
                            <div class="list">
                                <ul></ul>
                            </div>
                            <div class="next"><a class="can"></a></div>
                        </div>
                    </div>
                </div>
            </form>
            <script src="/Scripts/AreaSelect/public.js"></script>
        </div>
    </div>
</div>