@model Lumos.Entity.SysClientUser
@{
    ViewBag.Title = "User Info";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutDetails.cshtml";
}

<div class="gbr gbr-maintitle" id="gbr-maintitle">
    <div class="wrapper">
        <div class="content">
            <span class="title-icon">@ViewBag.Title</span>
            <span class="title-message"></span>
        </div>
    </div>
</div>

<div class="gbr gbr-mainbody" id="gbr-mainbody">
    <div class="wrapper">
        <div class="content">
            <form id="form1" name="form1" enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                <table class="f-tb" cellpadding="0" cellspacing="1">
                    <tr>
                        <td class="f-tb-t">
                            Account：
                        </td>
                        <td class="f-tb-c">
                            <label id="lbl_UserName"></label>
                            <span>@Model.UserName</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">FirstName：</td>
                        <td class="f-tb-c">
                            <span>@Model.FirstName</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            LastName：
                        </td>
                        <td class="f-tb-c">
                            <span>@Model.LastName</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t">
                            Address：
                        </td>
                        <td class="f-tb-c">
                            <span>@Model.Address</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-tb-t"></td>
                        <td class="f-tb-c">
                            <input type="button" name="btn_Cancle" id="btn_Cancle" value="Close" class="f-tb-btn" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
